# Database
DATABASE_URL="postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require&channel_binding=require"

# Server
PORT=8000
HOST=0.0.0.0

# Arcjet
ARCJET_KEY="<your_arcjet_key>"
ARCJET_ENV="development"

# API URL
API_URL="http://localhost:8000"

BROADCAST="1"
DELAY_MS="250"
MATCH_COUNT="0"

SEED_MATCH_DURATION_MINUTES="120"
SEED_FORCE_LIVE="1"